/build
/bin
.vscode
.*.swp
*~

/config.mk

/src/ludica/include/EGL/
/src/ludica/include/GLES2/
/src/ludica/include/GLES3/
/src/ludica/include/KHR/

/src/ludica/win32libs/chrome.zip
/src/ludica/win32libs/d3dcompiler_47.dll
/src/ludica/win32libs/libEGL.dll
/src/ludica/win32libs/libGLESv2.dll
/src/ludica/win32libs/vk_swiftshader.dll
/src/ludica/win32libs/vk_swiftshader_icd.json

/JUNK
/OLD

compile_commands.json
.cache/
_build/
_out/
_site/
